@use "../abstracts/" as *;

.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;

    @include breakpoint-up(large) {
        margin: 0 auto;
        display: grid;
        max-width: 69.375rem;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 1.875rem;
        grid-template-areas:
            "super team calc"
            "super karma calc";
    }
    &__card {
        margin-bottom: 1.5625rem;
        max-width: 19.4375rem;
        box-shadow: 0 0.9375rem 1.875rem -0.6875rem hsla(213, 47%, 67%, 50%);
        border-radius: 0.5rem;
        overflow: hidden;

        @include breakpoint-up(large) {
            margin-bottom: 0;
            max-width: 100%;
        }

        &.card1 {
            grid-area: super;
        }

        &.card2 {
            grid-area: team;
        }

        &.card3 {
            grid-area: karma;
        }

        &.card4 {
            grid-area: calc;
            margin-bottom: 0;
        }
    }

    &__cardBorder {
        height: 0.2219rem;

        @include breakpoint-up(large) {
            height: 0.25rem;
        }

        &.card1 {
            background-color: $cyan;
        }

        &.card2 {
            background-color: $red;
        }

        &.card3 {
            background-color: $orange;
        }

        &.card4 {
            background-color: $blue;
        }
    }

    &__cardContainer {
        margin: 1.4656rem 1.75rem 1.75rem 1.75rem;

        @include breakpoint-up(large) {
            margin: 1.75rem 2rem 2rem 2rem;
        }
    }

    &__cardTitle {
        font-weight: $semi-bold;
        font-size: $font-lg;
        line-height: 1.875rem;
        margin-bottom: 0.0625rem;

        @include breakpoint-up(large) {
            margin-bottom: 0.375rem;
        }
    }

    &__cardText {
        font-weight: $regular;
        font-size: 0.8125rem;
        line-height: 1.4375rem;
        letter-spacing: 0.0056rem;
        margin-bottom: 2.0625rem;
        color: $grayishBlue;

        @include breakpoint-up(large) {
            margin-bottom: 2.5rem;
        }
    }

    &__cardImg {
        display: block;
        height: 3.5625rem;
        margin-left: auto;

        @include breakpoint-up(large) {
            height: 4rem;
        }
    }
}
