@use "../abstracts/" as *;

.hero {
    max-width: 19.4375rem;
    margin: 0 auto;
    margin-bottom: 4.75rem;

    @include breakpoint-up(large) {
        max-width: 33.75rem;
        margin-bottom: 4rem;
    }

    &__tagline,
    &__title {
        font-size: $font-xl;
        line-height: 2.25rem;
        letter-spacing: 0.0106rem;

        @include breakpoint-up(large) {
            font-size: $font-xxl;
            line-height: 3.375rem;
            letter-spacing: 0.0156rem;
        }
    }

    &__tagline {
        font-weight: $extra-light;
        margin-bottom: 0.0625rem;
        @include breakpoint-up(large) {
            margin-bottom: -0.1875rem;
        }
    }

    &__title {
        font-weight: $semi-bold;
        margin-bottom: 0.8125rem;
    }
    &__text {
        font-size: $font-md;
        font-weight: $regular;
        line-height: 1.5625rem;
        letter-spacing: 0.0063rem;
        color: $grayishBlue;
    }
}
