@use "../abstracts/" as *;

html,
body {
    height: 100%;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: $font-md;
    color: $veryDarkBlue;
    background-color: $veryLightGray;
}

h1,
h2,
h3 {
    margin: 0;
}

p {
    margin: 0;
}

main {
    padding: 5.3125rem 2rem 4.875rem 2rem;
    text-align: center;

    @include breakpoint-up(large) {
        padding-top: 5rem;
    }
}
