@use "../abstracts/" as *;

html,
body {
    height: 100%;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: $font-md;
    color: $veryDarkBlue;
    background-color: $veryLightGray;
}

h1,
h2,
h3 {
    margin: 0;
}

p {
    margin: 0;
}

main {
    margin: 85px 32px 78px 32px;
    text-align: center;
}
